*{
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}

body {
    background-color: rgb(245, 243, 170);
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: black;
}
.navbar {
    background: rgb(200, 198, 78);
    padding: 6px 2%;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0 2%;
    align-items: center;
    height: 70px
}

.navbar ul li {
    margin-right: 5%;
}
.navbar ul li:hover {
    background: rgb(165, 162, 78);
}

.navbar ul li:first-child:hover {
    background: rgb(200, 198, 78);
}

.navbar ul li:first-child {
    margin-right: 10%;
    margin-top: 0;
}


.main-map {
    margin: 30px 30px;
    border: 1px solid black;
}

.maintext a {
    text-decoration: underline;
}

.maintext a:hover {
    background: rgb(214, 211, 126);
}

.contacts li {
    text-decoration: none;
    margin-top: 20px;
    margin-left: 10px;
}

.maintext {

    font-size: 20px;
}
.contactstext, .contacts {
    font-size: 25px;
}